textarea{
    resize: none;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: #93BFFF;
    background-image: url('/img/school.png');
    font-family:'Montserrat', sans-serif;
}

#calculator {
    width: 260px;
    height: auto;

    margin: 100px auto;
    padding: 50px;

    border: 6px solid black;
    background-image: url('/img/old_mathematics.png')
}

.firRow{
    position:relative;
    top: 3px;
    right: 2px;
}

.secRow {
    position: relative;
    top: 10px;
    right: 2px;
}

.thiRow{
    position: relative;
    top: 16px;
    right: 2px;
}

.fouRow{
    position: relative;
    top: 23px;
    right: 1px;
}

.decimalRow{
    position: relative;
    bottom: 10px;
    left: 150px;
}

.numNine{
    position: relative;
    top: 16px;
    left: 1px;
}

.multRow{
    position: relative;
    top: 16px;
    left: 1px;
}

.numSixRow{
    position: relative;
    top: 10px;
    left: 1px;
}

.negRow{
    position: relative;
    bottom: 90px;
    left: 116px;
}

.expRow{
    position: relative;
    bottom: 53px;
    left: 79px;
}