body {
   background: url(../img/workdesk.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin: 0;
   font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.white {
  color: white;
}

.medium{
  font-size: 150%;
}

.large{
  font-size: 200%;
}

.bottommargin{
  margin-bottom: 30px;
}

.smallbottompad{
  padding-bottom:10px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.bottompad{
  padding-bottom: 20px;
}

.navbar-inner {
    background:transparent;
}

a{
  color: white;
}
