.blocking {
    display: inline-block;
    border: solid 1px;
    border-radius: 75px;
    margin: 10px;
    width: 200px; 
    text-align: center;
    position: relative;
    left: 110px;
    background-image: url(/img/light_grey.png);
}

#map-canvas {
    width: 920px;
    height: 481px;
}